@import 'src/styles/variables';

.tile {
  position: relative;
  padding: 20px;
  background: var(--bg-lighter-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  &-sm {
    align-items: center;
    justify-content: center;

    &__icon {
      font-size: 10vw;
    }

    &__linkIcon {
      position: absolute;
      font-size: 3vw;
      color: var(--main-color);
      bottom: 20px;
      right: 20px;
    }
  }

  &-md {
    &__title {

    }

    &__subtitle {

    }
  }

  &-lg {
    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &__icon {
      font-size: 5vw;
    }
    &__title {

    }
    &__subtitle {

    }
    &__linkIcon {
      color: var(--main-color);
      align-self: flex-end;
      font-size: 3vw;
    }
  }
}
