@import 'src/styles/variables';

.tile {
  position: relative;
  padding: 20px;
  background: var(--bg-lighter-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  &-icon__tile {
    align-items: center;
    justify-content: center;
  }

  &:hover {
    text-decoration: none;
  }
  &:hover .tile__link-icon {
    color: var(--main-color);
    transform: rotate(0);
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    font-size: $title;
    color: var(--title-color);
    &-special {
      font-size: $special-text;
      color: var(--main-color);
    }
  }

  &__subtitle {
    font-size: $subtitle;
    color: var(--subtitle-color);
  }

  &__image {
    &-photo {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-position: top right;
        object-fit: cover;
      }
    }
  }

  &__icon {
    font-size: 5vw;
    color: var(--main-color);

    &-lg {
      font-size: 10vw;
      color: var(--main-color);
    }
  }

  &__link-icon {
    position: absolute;
    font-size: 3vw;
    color: var(--subtitle-color);
    bottom: 20px;
    right: 20px;
    transform: rotate(-45deg);
  }
}
