@import 'src/styles/variables';

.page {
  &-title {
    margin-top: 60px;
    padding: 5px 20px;
    font-size: $heading-title;
    text-align: center;
    white-space: nowrap;
    color: var(--bg-lighter-color);
    -webkit-text-stroke: 1px var(--main-color);
    overflow: hidden;
    line-height: 1;
    place-content: center space-evenly;
    display: flex;
    letter-spacing: -2px;
  }
}


