html[data-theme='dark'] {
  --bg-color: #222;
  --bg-lighter-color: #323232;
  --title-color: #EEE;
  --subtitle-color: #C7C7C7;
  --main-color: #66BB6A;
}

html[data-theme='light'] {
  --bg-color: #EEE;
  --bg-lighter-color: #DEDEDE;
  --title-color: #222;
  --subtitle-color: #555;
  --main-color: #66BB6A;
}

$title: clamp(18px, 5vw, 24px);
$subtitle: clamp(14px, 3vw, 16px);
$heading-title: clamp(0px, 20vw, 264px);
$description: clamp(7px, 2.5vw, 14px);
$special-text: clamp(12px, 5vw, 48px);
$navigation-link: clamp(14px, 3vw, 16px);
$arrow-icon-link: clamp(34px, 3vw, 48px);
$social-tile-icon: clamp(100px, 10vw, 200px);
$tile-icon: clamp(50px, 5vw, 150px);
