html[data-theme='dark'] {
  --bg-color: #222;
  --bg-lighter-color: #323232;
  --title-color: #EEE;
  --subtitle-color: #DEDEDE;
  --main-color: #66BB6A;
}

html[data-theme='light'] {
  --bg-color: #EEE;
  --bg-lighter-color: #DEDEDE;
  --title-color: #222;
  --subtitle-color: #555;
  --main-color: #66BB6A;
}

$title: clamp(12px, 5vw, 24px);
$subtitle: clamp(8px, 3vw, 16px);
$description: clamp(7px, 2.5vw, 14px);
$special-text: clamp(9px, 4vw, 18px);
$navigation-link: clamp(8px, 3vw, 16px);
