@import 'src/styles/variables';

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;

  &__item{
    color: var(--subtitle-color);
    font-size: $navigation-link;
    font-weight: 400;
    &:hover {
      color: var(--title-color);
      text-decoration: underline;
    }
  }
}
