@import 'src/styles/variables';

.header {
  position: fixed;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: var(--bg-color);
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &-mobile {
    display: inline-block;
  }
}

.switcher {
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    &-mobile {
      justify-content: center;
      margin-top: 10px;
    }
  }

}
