@import 'src/styles/variables';

.socials {
  display: flex;
  flex-direction: row;
  gap: $default-size;

  &-item {
    font-size: $default-size;
    color: var(--subtitle-color);

    &:hover {
      color: var(--main-color);
    }
  }
}
